.trending_list {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
  max-height: max-content;
   /* mask-image: linear-gradient(to right, transparent, black 0%, black 90%, transparent) */
}
/* 
Optional: Fade-out effect at ends */
.scroller {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  /* padding: 1rem 0; */
  padding-top: 10px;
  padding-bottom: 5px;
  max-width: 100%;
  transition: prop time;
  mask-image: linear-gradient(to right, transparent, black 0%, black 90%, transparent);
}

.trending_container{
    max-width: 100%;
}

.column_wrapper {
    max-width: var(--maxPrimaryPageWidth);
    display: flex;
    align-items: flex-start;
    align-content:flex-start;
    justify-content: left;
    padding: 40px 30px;
}

.column_wrapper .column {
    width: 100%;
    justify-content: left;
}

.scroller_wrap {
    position: relative;
    top: 0;
    left: 0;
}

.media {
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.column_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

.toggle_button {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    border: 1px solid #007bff;
    border-radius: 30px;
}

.toggle_button .button {
    position: relative;
    padding: 0 20px;
    align-content: center;
    border-radius: 30px;
    transition: 0.2s;
}

.anchor .background {
    z-index: -1;
    background: darkblue;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: left 0.25s;
}

.grid_container {
    max-width: var(--maxPrimaryPageWidth);
    border: solid white;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
}

.filter_wrapper {
    justify-content: left;
    display:flex;
    flex-direction: column;
    border: solid  1px;
    border-radius: 10px;
    width: 400px;
}

.filter_pannel {
    margin: 10px;
    justify-content: left;
    text-align: left;
    padding-bottom: 5px;
    max-width: 100%;
}

.filter_pannel:not(:last-child) {
    border-bottom: 1px solid;
}

.row_wrapper {
    max-width: var(--maxPrimaryPageWidth);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content:flex-start;
    justify-content: left;
    gap: 20px;
}

.row_wrapper .row {
    width: 100%;
    max-width: fit-content;
    justify-content: left;
}